<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.soccerapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        android:theme="@style/Theme.SoccerApp">
        <activity
            android:name=".Activities.Register"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MainActivity"/>
        <activity android:name=".Activities.TeamsActivity"/>
        <activity android:name=".Teams.Arsenal"/>
        <activity android:name=".Teams.Chelsea"/>
        <activity android:name=".Teams.LeicesterCity"/>
        <activity android:name=".Teams.Liverpool"/>
        <activity android:name=".Teams.ManchesterCity"/>
        <activity android:name=".Teams.ManchesterUnited"/>
        <activity android:name=".Teams.Spurs"/>
        <activity android:name=".TeamsDetails.ArsenalPlayerDetails"/>
        <activity android:name=".TeamsDetails.ChelseaPlayerDetails"/>
    </application>

</manifest>